html {
    overflow-y: scroll;
}

body {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    background: #fff;
}

button {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 500;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
}

.page-title {
    width: 90%;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #fd99cb;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

.input-performers-container {
    margin: 1em;
}

.input-performers-container textarea {
    width: 100%;
    border: solid 1px;
    height: 20em;
    padding: 1em;
}

.input-performers-hint {
    margin-top: 0.5em;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
}

.submit-performers-container {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.submit-performers-container button {
    width: 20em;
    background: linear-gradient(90deg, #fec001 0%, #fd99cb 50%, #6699ff 100%);
    border-radius: 4px;
    color: #fff;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1em;
    transition: .2s;
}

.submit-performers-container button:hover {
    opacity: 0.8;
}

.preset-container {
    margin: 2em;
}

.preset-container h2 {
    margin: 0.5em;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    color: #fd99cb;
}

.preset-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.preset-buttons-container button {
    width: 16em;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #000;
    color: #000;
    padding: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    transition: .2s;
}

.preset-buttons-container button:hover {
    opacity: 0.6;
}

.preset-buttons-container .starlight-stage-preset {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #fec001, #fd99cb, #6699ff) border-box;
    border: 2px solid transparent;
    border-radius: 4px;
}

.preset-buttons-container.starlight-stage-preset:hover {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #fec001, #fd99cb, #6699ff) border-box;
    border: 2px solid transparent;
    border-radius: 4px;
    opacity: 0.8;
}

.found-song-container {
    margin: 1em;
    list-style-type: none;
}

.found-song-detail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.found-song-members-container {
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.found-song-members-container li::after {
    margin-left: 4px;
    margin-right: 4px;
    content: "/";
}

.found-song-members-container li:last-child::after {
    content: "";
}

.attendee {
    color: #fd99cb;
    font-weight: 500;
}

footer {
    margin: 4em;
}

.github-link {
    display: flex;
    justify-content: center;
}

.github-link a img {
    width: 48px;
}
